<html>
<head>
    <meta charset="utf-8">
    <title>{{ .Title }}</title>
</head>
<body>
<h1>{{ .Title }}</h1>
<p>All pages:</p>
    <ul>
{{ range .Site.Pages }}
        <li><a href="{{ .Permalink }}">{{ .Title }}</a> (from section {{ .Section }})</li> 
{{ end }}
    </ul>
<p>All sections:</p>
    <ul>
{{ range $section, $taxonomy := .Site.Sections }}
        <li>{{ $section }} - 
        {{/*
        <ul>
            {{ range $taxonomy }}
            <li>{{ .Term }}</li>
            {{end}}
        </ul>
        */}}
        </li>
{{ end }}
    </ul>
<p>All taxonomies:</p>
<ul>
{{ range .Site.Taxonomies }}
    <li>{{ .Count "teammember" }}</li>
{{ end }}
</ul>

</body>
</html>
