<html>
<head>
    <meta charset="utf-8">
    <title>{{ .Title }}</title>
</head>
<body>
<p>Teammember: <strong>{{.Title}}</strong></p>
<p>Skills:</p>
<ul>
{{ range .Params.skills }}
    <li>{{ . }}</li>
{{ end }}
</ul>
<p>Personal introduction:</p>
<em>{{ .Content }}</em>
</body>
</html>
